<div class="product" >
  <a href="assets/images/{{product.image}}" class="product-image">
    <img src="assets/images/{{product.image}}">
  </a>

  <custom-title [title]="product.title" >
    <p first > test message</p>
    <p second #second> wow</p>
  </custom-title>

  <div class="product-text">{{product.description}}</div>
  <div class="product-action" #elem>
    <button class="btn btn-add-to-cart" (click)="addProductToCart()">В корзину</button>
  </div>
</div>

<!--(click)="addToCard(product, orderElement)"-->
